* {
  margin: 0;
}

nav {
  height: 10vh;
  background-color: #003366;
  display: flex;
  flex-direction: row;
  align-items: center;

  *{
    display: flex;
  }

  .logo{
    flex-grow: 1;
    justify-content: flex-start;
    h1{
      color: #fefefe;
      align-self: center;
      font-size: 1.5em;
      padding-left: 10vh;
      font-family: 'Montserrat', sans-serif;
    }
  }
 
  .search{
    flex-grow: 1;
    justify-content: flex-end;
    
    input[type=text] {
      color: #fefefe;
      background-color: #003366;
      font-size: 1.5em;
      font-family: 'Montserrat', sans-serif;
      border: none;
      transition: width 0.4s ease-in-out;
    }
    input::placeholder{
      color: #fefefe;
    }
  
  
    input[type=text]:focus {
      outline: none;
      color: #fefefe;
    }
  
  }
 

}

#welcome-msg{
  position: absolute;
  display: flex;
  width: 100%;
  height: 80%;
  #welcome{
    margin: auto;
    color: #003366;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
  }
}



section {
  height: 90vh;
  background-color: #fefefe;

  display: flex;
  flex-direction: row;
  align-items: center;

  *{
    display: flex;
  }

  #text-wrapper{
    flex-grow: 1;
    flex-direction: column;


    color: #003366;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5vw;

    h2,p{
      justify-content: flex-end;
    }

    h2 {
      font-size: 3em;
      line-height: 3em;
    }
    p {
      line-height: 2em;
      font-size: 1.5em;
    }

  }

  #weather-img{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-self: center;
    img{
      height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    }
  }
  
}


@media screen and (max-width: 768px){
  nav {
    height: 15vh;
    flex-direction: column;
    align-items: center;

  
    .logo{
     
      justify-content: center;
      h1{
       
        font-size: 1.5em;
        padding-left: 0;
      
      }
    }
   
    .search{
      flex-grow: 1;
      justify-content: center;

      input[type=text] {
        text-align: center;
        font-size: 1.5em;
       
      }
    
    }
   
  
  }
  section {
    
    flex-direction: column-reverse;
    align-items: center;
  
    #text-wrapper{
      flex-direction: column;
  
  
      color: #003366;
      font-family: 'Montserrat', sans-serif;
      margin-right: 0;
  
      h2,p{
        justify-content: center;
      }
  
      h2 {
        font-size: 3em;
        line-height: 2em;
      }
      p {
        line-height: 2em;
        font-size: 1.5em;
      }
  
    }
  
    #weather-img{
      flex-grow: 1;
      display: flex;
      img{
        margin: auto;
         height: auto; 
       width: auto; 
       max-width: 200px; 
       max-height: 200px;
      }
    }
    
  }
  
}

