* {
  margin: 0;
}

nav {
  height: 10vh;
  background-color: #003366;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav * {
  display: flex;
}
nav .logo {
  flex-grow: 1;
  justify-content: flex-start;
}
nav .logo h1 {
  color: #fefefe;
  align-self: center;
  font-size: 1.5em;
  padding-left: 10vh;
  font-family: "Montserrat", sans-serif;
}
nav .search {
  flex-grow: 1;
  justify-content: flex-end;
}
nav .search input[type=text] {
  color: #fefefe;
  background-color: #003366;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  border: none;
  transition: width 0.4s ease-in-out;
}
nav .search input::placeholder {
  color: #fefefe;
}
nav .search input[type=text]:focus {
  outline: none;
  color: #fefefe;
}

#welcome-msg {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80%;
}
#welcome-msg #welcome {
  margin: auto;
  color: #003366;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}

section {
  height: 90vh;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section * {
  display: flex;
}
section #text-wrapper {
  flex-grow: 1;
  flex-direction: column;
  color: #003366;
  font-family: "Montserrat", sans-serif;
  margin-right: 5vw;
}
section #text-wrapper h2, section #text-wrapper p {
  justify-content: flex-end;
}
section #text-wrapper h2 {
  font-size: 3em;
  line-height: 3em;
}
section #text-wrapper p {
  line-height: 2em;
  font-size: 1.5em;
}
section #weather-img {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-self: center;
}
section #weather-img img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

@media screen and (max-width: 768px) {
  nav {
    height: 15vh;
    flex-direction: column;
    align-items: center;
  }
  nav .logo {
    justify-content: center;
  }
  nav .logo h1 {
    font-size: 1.5em;
    padding-left: 0;
  }
  nav .search {
    flex-grow: 1;
    justify-content: center;
  }
  nav .search input[type=text] {
    text-align: center;
    font-size: 1.5em;
  }

  section {
    flex-direction: column-reverse;
    align-items: center;
  }
  section #text-wrapper {
    flex-direction: column;
    color: #003366;
    font-family: "Montserrat", sans-serif;
    margin-right: 0;
  }
  section #text-wrapper h2, section #text-wrapper p {
    justify-content: center;
  }
  section #text-wrapper h2 {
    font-size: 3em;
    line-height: 2em;
  }
  section #text-wrapper p {
    line-height: 2em;
    font-size: 1.5em;
  }
  section #weather-img {
    flex-grow: 1;
    display: flex;
  }
  section #weather-img img {
    margin: auto;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
